*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Righteous', cursive;
}
body {
    padding: 0;
    background-color: lightgoldenrodyellow;
    min-height: 100vh;
    display: flex;

}
@media screen and (max-width:1920px){
.wrapper {
    width: 70vw;
    height: 80vh;
    /* background-color: bisque; */
    margin: auto;
}
h1 {
    font-weight: bold;
}
.accordion {
    margin-top: 3%;
    
}
.accordion-item {
    min-height: 7vh;
    width: 100%;
    border-top: 0.1rem solid gray;
}
.accordion-item__input {
    /* opacity: 0; */
    display: none;
    cursor: pointer;
}
.accordion-item__trigger {
    padding: 2%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}
.accordion-item__content {
    border-top: 0em;
    /* display: none; */
    cursor: pointer;
    text-align: center;
    max-height: 0;
    transition: 0.7s ;
}
h2 {
    color: blue;
    transition: 0.1s;
}
img {
    max-height: 0;
    transition: 0.3s;
}
.arrow {
    max-height: 24px;
    width: 24px;
    display: none;
}
.accordion-item__input:checked ~ .accordion-item__content{
    /* display: block; */
    max-height: 100vh;
}
.accordion-item__input:hover ~ .accordion-item__content {
    /* display: block; */
    max-height: 100vh;
}
.accordion-item__trigger:hover ~ .accordion-item__content {
    /* display: block; */
    max-height: 100vh;
}

/* цвет текста */
.accordion-item__input:checked ~ .accordion-item__trigger h2{
    color: black;
}
.accordion:hover h2{
    color:black
}

/* картинка */
.accordion-item__trigger:hover ~ .accordion-item__content img{
    max-height: 100vh;
}
.accordion-item__input:hover ~ .accordion-item__content img{
    max-height: 100vh;
}
.accordion-item__input:checked ~ .accordion-item__content img{
    max-height: 100vh;
}
/* иконка */
.accordion:hover .arrow{
    display: block;
}
.accordion-item__input:checked ~ .accordion-item__trigger .arrow{
    transform: rotate(180deg);
}
.accordion-item__input:hover ~ .accordion-item__trigger .arrow{
    transform: rotate(180deg);
}
.accordion-item__trigger:hover ~ .accordion-item__content .arrow{
        transform: rotate(180deg);
    }
}
